*.nc
*.png
*._*
test
.DS*
*.swo
*test*
copy_data_mistral.run
copy_data_python.run
plot_clouds.ncl
plot_clouds_us.ncl
plot_clouds_world.ncl
plot_data.ipynb
plot_geop_500.ncl
plot_geop_500_nh.ncl
plot_geop_500_us.ncl
plot_jetstream.py
plot_jetstream_us.ncl
plot_jetstream_world.ncl
plot_mslp_wind.ncl
plot_mslp_wind_us.ncl
plot_rain_acc.ncl
plot_rain_acc_us.ncl
plot_thetae_850.ncl
plot_thetae_850_nh.ncl
plot_thetae_850_us.ncl
plot_thetae_850_world.ncl
utils.pyc
plot_meteogram.ncl
